body{
    background-color: #c7ecee;
    background-image: url();
    background-repeat: repeat-y;
}

h1{

    color: coral;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    text-align: center;
}

h2{
    color: brown;
    font-variant: small-caps;
    font-style: italic;
    
}

h4{
    color: darksalmon;
}

ul{
    color: #22a6b3;
}