.container .btn-group{
    margin-left: 40px;
}


.jumbotron{
    background-image: url("/bootstrap/img/kmnrider.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
   
}

.jumbotron .container{
    margin-top: 25%;
}

.jumbotron .display-4{
    color: #e74c3c;
    font-weight: bolder;
    
    
  
}

.jumbotron .lead{
    color: #f39c12;
    font-weight: bolder;
    font-size: 30px;
    font-style: italic;
    

}

/*-------------------------------------------------*/

.carousel-item{
    height: 750px;

}

