.navkecil{
    float:right;
    color: black;
    text-decoration: none;
    
    
}
.navkecil .kcl{
    margin-right: 20px;
    color: blue;
    
}

body{
    background-image: url(/img/backgrun.jpg);
}