
*{
    margin: o;
}

/*-----------HEADER------------*/

.myhead{
    background-color: white;
    width:100%;
    height: 50px;
    position: sticky;
    top: 0;
    border-radius: 5px;
   
    
    
    
    
}
nav{
    float:right;
    margin-top:5px;
    
    
}

li{
    display: inline;
    margin-left: 10px;
    font-size: 15px;
    padding-right: 10px;
    font-family: 'Russo One', sans-serif;
    
}





/*---------BODY---------------*/

h1{
    text-align: center;
    font-variant: small-caps;
    
}

body{
    background-image: url("/public/img/pattern.jpg");
}

section{
    background-color: white;
    margin-top: 30px;
    margin-right: 90px;
    margin-left: 90px;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Slabo 27px', serif;
    

}

p{
    font-size: 15px;
    text-align: justify;
    font-family: 'Slabo 27px', serif;
    
}

article{
    border-bottom:1px solid grey;
}

a{
    text-decoration: none;
}

.efek{
    color: black;
}
.efek:hover{
    color: #0097e6;
}

.efek2:hover{
    color: #2ed573;
    
}




/*---------FOOTER-------------*/

h5{
    text-align: center;
    color: white;
    margin-top: 15px;
    font-size: 10px;
    padding: 10px;
    
}

.myfoot{
    background-color: black;
    width: 100%;    
    margin-top: 20px;
   
}










